body {
    height: 100vh;
    width: 100%;
    background-image: url(/images3/LZP3MD\ 1.png);
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(24, 192, 33, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.btn-primary {
    width: 100%;
}