body {
    height: 100vh;
    margin: 0;
    background-image: url(/images3/LZP3MD\ 1.png);
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

form {
    max-width: 400px;
    background-color: rgba(17, 223, 17, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.nav-link {
    color: #007bff;
}

.nav-link:hover {
    text-decoration: underline;
    color: #0056b3;
}